.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.top-nav {
    height: 150px;
    width: inherit;
    margin: 10px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin: 10px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    margin: 10px;
    background-color: red;
    align-self: flex-end;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    align-self: center;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin: 10px;
    background-color: purple;
}
.row {
    display: flex;
    align-items: flex-start;
    margin: 5px;
}

